version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: booking-laravel-app
    container_name: booking-app
    restart: unless-stopped
    ports:
      - "8000:80"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: booking
      DB_USERNAME: bookinguser
      DB_PASSWORD: Booking@1234
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mysql:8.0
    container_name: booking-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: booking
      MYSQL_USER: bookinguser
      MYSQL_PASSWORD: Booking@1234
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
